<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <h1 id="header-name">Pomodoro Timer</h1>
            <!-- Header Buttons -->
            <div id="header-buttons">
                <ul>
                    <li><button class="top-buttons" id="reset-button">
                            <img src="../icons/reset.svg" id="reset" class="top-button-img" alt="reset">
                            <p class="top-button-text">Reset</p>
                        </button>
                    </li>
                    <li><button class="top-buttons" id="setting-button">
                            <img src="../icons/settings.svg" id="gear" class="top-button-img" alt="gear">
                            <p class="top-button-text">Setting</p>
                        </button>
                    </li>
                    <li><button class="top-buttons" id="help-button">
                            <img src="../icons/help.svg" id="help" class="top-button-img" alt="help">
                            <p class="top-button-text" id="text-help">Help</p>
                        </button>
                    </li>
                </ul>
            </div>
        </header>
        <div id="pomodoro-timer">
            <!--Adds Pomo and Break buttons-->
            <div style="text-align: center;" id = "timer-btns" class="timer-buttons">
                <button id = "pomo-btn"> Pomo</button>
                <button style="background-color: #f3606060;" id = "break-btn"> Break</button>
            </div>
            <!--Adds empty border to create distance between Pomo/Break buttons and Timer display-->
            <div style="text-align: center;" class="empty-space-border">
            </div>
            <!--Adds Timer display-->
            <div style="text-align: center;" id="timer_display" class="timer-value">
                <div id="timer_display_duration">25:00</div>
            </div>
            <!--Adds Start and Reset buttons-->
            <div style="text-align: center;" id = "timer-control-btns" class="timer-control-buttons">
                <button id = "start-btn">Start</button> 
            </div>
        </div>
        <!-- Divider -->
        <img src="../icons/dash.svg" id="dash">
        <!--Task List-->
        <div id="task-list">
            <h2 id="up-next">Up Next</h2>
            <ul id="task-list-elements">
            </ul>             
        </div>
        <div id="popup-button">
            <button id="task-popup-btn"> <img src="../icons/plus.svg" id="plus"></button>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>

</html>