<style>
    .button-footer {
        background-color: rgb(234 234 234);
        /* padding: 14px 20px; */
        position:absolute;
        padding: 20px;
        text-align: right;
        left: 0;
        right: 0;
        border-radius: 0 0 15px 15px;
        /* border-bottom-left-radius: 4px; */
        /* border-bottom-right-radius: 4px; */
    }
    #close-icon {
        /* width: 15px; */
        width: 20px;
        /* margin-top: 10px; */
        /* margin-right: 10px; */
        position:absolute;
        top:20px;
        right:20px;
        cursor: pointer;
        opacity: 0.33;
        transition: transform .3s ease;
    }
    #close-icon:hover {
        opacity: 1;
        transform: scale(1.1);
    }
    #add-task-popup {
        box-sizing: border-box;
        display: none;
        position: fixed;
        /* width: 30%; */
        width: 90%;
        /* height: 30%; */
        max-width:600px;
        /* border-radius: 4px; */
        padding: 20px;
        border-radius: 10px;
        z-index: 999;
        background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop; 
        -webkit-animation-duration: 0.3s;
        animation-name: animatetop;
        animation-duration: 0.3s;
        width: 90%;
        max-width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @-webkit-keyframes animatetop {
        from {top:-200px; opacity:0} 
        to {top:70; opacity:1}
    }
    @keyframes animatetop {
        from {top:-200px; opacity:0}
        to {top:70; opacity:1}
    }
    #task-input {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 600;
        width: 85%;
        height: 80px;
        background-color: whitesmoke;
        color: rgb(85, 85, 85); 
        border-style: hidden;
        /* border-radius: 5px; */
        outline: none;
        display: block;
        /* margin: 20px auto 0 auto; */
        margin-top: 0;
        font-weight: 500;
    }
    input[type='text']::placeholder {
        /* color: rgba(85, 85, 85, 0.2); */
        /* color: #A7A7A7; */
        color: #c7c7c75e;
    }


    #add-task-popup > h3{
        font-size: 30px;
        font-weight: 500;
        color: #f36060;
        border-bottom: solid 1px #d2d2d2;
        /* padding-bottom: 5px; */
        padding-bottom: 10px;
        width:100%;
        margin: 0;
        /* margin: 20px auto 10px auto; */
    }
    .popup-btns {
        cursor: pointer;
        border-style: none;
        /* border-radius: 4px; */
        border-radius: 10px;
        text-align: center;
        background-color:#f36060;
        color:#fff;
        font-family: 'Quicksand', sans-serif;
        /* font-size: 1em; */
        font-size: 20px;
        font-weight: 500;
        outline: none;
        transition: transform .3s ease;
    }
    .popup-btns:hover {
        filter: brightness(105%);
        transform: scale(1.1);
    }
    #add-task-btn {
        /* padding: 8px 12px; */
        padding: 10px 40px;
    }
    #cancel-task-btn {
        position: absolute;
        float:right;
        right: 5em;
        bottom: 2em;
    }

    @media(min-width:900px) {
        #add-task-popup>h3 {
            font-size: 40px;
        }

        #task-input{
            font-size: 22px;
        }

    }
</style>
<div id="add-task-popup" part="popup-wrapper">
    <img src="assets/icons-68c6c82c.svg#close" alt="" id="close-icon" part="close-icon">
    <h3 part="add-task-h3">Add Task</h3>
    <input type="text" name="" id="task-input" placeholder="What are you working on today?" maxlength="48" spellcheck="false" part="task-input">
    <div class="button-footer" part="btn-footer">
        <button id="add-task-btn" class="popup-btns" part="add-btn">Add</button>
    </div>
</div>