html,
body {
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
    background-color: #ffd5ca;
    box-sizing: border-box;
}
header {
    text-align: center;
    margin-top: 10px;
    height: 15vh;
}
h1#header-name {
    display: inline-block;
    position: relative;
    color: #f36060;
    font-size: 30px;
    margin-bottom: 10px;
}
#header-buttons {
    display: inline-block;
    position:absolute;
    right: 10%;
}
#header-buttons  ul {
    list-style-type: none;
}
#header-buttons ul li {
    display: inline-block;
    margin-top: 3px;
}
.top-buttons {
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    background-color:#f36060;
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    outline: none;
    margin-left: 5px;
    height: 35px;
}
.top-buttons:hover {
    filter: brightness(105%);
    transform: scale(1.1);
}
#setting-button {
    width: 87px;
}
#help-button {
    width: 67px;
}
#reset-button {
    width: 80px;
}
.top-button-img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
img#help {
    width: 15px;
    height: 15px;
}
img#reset {
    padding-right: 2px;
}
.top-button-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1.05em;
}
#text-help {
    padding-right: 2px;
}
header:after {
    content:' ';
    display: block;
    border-bottom: 1px solid #7b0c0c4f;
    border-radius: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#task-list {
    float: right;
    width: 50%;
    min-height: 0;
    max-height: 400px;
    margin-bottom: 10px;
    overflow: auto;
}
#up-next {
    color: #f36060;
    text-align: center;
    margin-right: 15%;
}
#pomodoro-timer {
    float: left;
    width: 50%;
    min-height: 420px;
}
#task-list ul {
    list-style-type: none;
}
task-item {
    cursor: pointer;
    height: 50px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding-left: 10px  ;
    background-color: #f36060;
    color: white;
    font-size: larger;
    font-weight: 500;
    border-style:none;
}
task-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
[checked = 'true'] {
    background: #f3606060;
    color: rgba(255, 255, 255, 0.651);
    text-decoration: line-through;
}
#popup-button {
    float: right;
    width: 30%;
}
#task-popup-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    background-color: #f36060;
    outline: none;
}
#task-popup-btn:hover {
    filter: brightness(105%);
    transform: scale(1.1);
}
#plus {
    width: 20px;
    vertical-align: middle;
    color: #fff;
}
img#dash {
    height: 500px;
    width: 12px;
    position: absolute;
    right: 52%;
    left: 48%;
}
/* Code BELOW is for Clock */
/* CSS for Pomo/Break button dispaly */
.timer-buttons button
{
    margin-top: 19px;
    background-color: #f36060; 
    border: 0px solid #ffd5ca;
    color: white; 
    padding: 10px 24px;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    outline: none;
    display: inline;
    margin-right: -4.5px;
    margin-left: -0px;
}
/* This is here to create spacing between Pomo/Break and Timer Display */
div.empty-space-border
{
    background:#ffd5ca;
    color: #fff;
    border-style: solid;
    border-color: #ffd5ca;
    border-width: thick;
    border-radius: 50px;

    padding: 2px 2px 2px 2px;
    max-width:325px;
    margin:0 auto;
}
/* CSS for Clock Test and Border Surrounding it */
div.timer-value
{
    font-size: 550%;
    background:#f36060;
    color: #fff;
    border-style: solid;
    border-color: #ffd5ca;
    border-width: thick;
    border-radius: 50px;

    margin: 100px 100px 100px 100px;
    padding: 50px 50px 50px 50px;
    max-width:325px;
    margin:0 auto;

}
/* CSS for Start/Reset Buttons */
.timer-control-buttons button
{
    margin-top: 21px;
    background-color: #f36060; 
    border: 1px solid #ffd5ca; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    font-size: x-large;
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    width: 200px;

}
/* CSS Code for diff color when hover over Start/Reset Button*/
.timer-control-buttons button:hover {
    transform: scale(1.1);
    filter: brightness(105%);
}
/* Animations */
@media screen and (max-width: 1000px) {
    .top-button-text {
        display: none;
    }
    #setting-button {
        width: 40px;
    }
    #help-button {
        width: 40px;
    }
    #reset-button {
        width: 40px;
    }
}
@media screen and (max-width: 700px) {
    header {
        margin-top: 10px;
        height: 15vh;
        text-align: initial;
    }
    h1#header-name {
        display: inline-block;
        position: relative;
        color: #f36060;
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: 10%;
    }
}