@media only screen and (max-width: 600px){
    :root {
        --setting-h4:15px;
        --setting-h3:20px;
        --volume-number-width:30px;
        --volume-number-marigin:5px;
        --volume-slider-height:5px;
        --volume-slider-width:50px;
        --vol-slider-thumb-height:7px;
        --vol-slider-thumb-width:7px;
        --setting-text:12px;
        --setting-h3-padding:2px;
        --setting-number-input:12px;
        --number-input-width:50px;
        --switch-width:24px;
        --switch-height:12px;
        --slider-width:10px;
        --slider-height:10px;
        --button-footer-padding:3px;
        --setting-margin:8px;
        --pop-up-button-font-size:7px;
        --header-font-size:35px;
        --top-button-size:30px;
        --top-button-help-size:25px;
        --top-button-focus-size:45px;
        --top-button-width:50px;
        --top-button-height:45px;
        --main-font-size:30px;
        --timer-button-padding-height:6px;
        --timer-button-padding-width:12px;
        --timer-marigin:20px;
        --plus-circle-size:45px;
    }
}
@media only screen and (min-width: 600px){
    :root {
        --setting-h4:24px;
        --setting-h3:30px;
        --volume-number-width:48px;
        --volume-number-marigin:15px;
        --volume-slider-height:12px;
        --volume-slider-width:120px;
        --vol-slider-thumb-height:16px;
        --vol-slider-thumb-width:16px;
        --setting-text:20px;
        --setting-h3-padding:5px;
        --setting-number-input:15px;
        --number-input-width:100%;
        --switch-width:48px;
        --switch-height:25px;
        --slider-width:23px;
        --slider-height:23px;
        --button-footer-padding:12px;
        --setting-margin:15px;
        --pop-up-button-font-size:15px;
        --header-font-size:50px;
        --top-button-size:35px;
        --top-button-help-size:30px;
        --top-button-focus-size:50px;
        --top-button-width:60px;
        --top-button-height:50px;
        --main-font-size:35px;
        --timer-button-padding-height:15px;
        --timer-button-padding-width:30px;
        --timer-marigin:40px;
        --plus-circle-size:45px;
        
    }     
}
html {
    height: 100%;
}

ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffd5ca;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    overflow: auto;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

h1#header-name {
    display:inline-block;
    color: #f36060;
    font-size: var(--header-font-size);
    font-weight: 500;
    justify-content: center;
}

#header-buttons {
    padding: 0;
    margin: 0;
}


#header-buttons ul li {
    display: inline-block;
}

#focus-button {
    cursor: pointer;
    border-style: none;
    border-radius: 10%;
    text-align: center;
    background-color: #f36060;
    color: #fff;
    outline: none;
    height: var(--top-button-height);
    width: var(--top-button-width);
}

#focus-button:hover {
    transform: scale(1.1);
}

.top-buttons {
    cursor: pointer;
    border-style: none;
    border-radius: 10%;
    text-align: center;
    background-color: #f36060;
    color: #fff;
    outline: none;
    height: var(--top-button-height);
    width: var(--top-button-width);
}

.top-buttons:hover {
    filter: brightness(105%);
    transform: scale(1.1);
}

.top-button-img {
    display: inline-block;
    vertical-align: middle;
    width: var(--top-button-size);
    height:  var(--top-button-size);
}

img#help {
    width: var(--top-button-help-size);
    height: var(--top-button-help-size);
}

img#focus {
    width: var(--top-button-focus-size);
    height: var(--top-button-focus-size);
}
header:after {
    content: ' ';
    display: block;
    border-bottom: 1px solid #7b0c0c4f;
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

#task-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    max-width: 80%;
    margin: 0 auto auto auto;
}
menu{
    margin-block-start: var(--timer-marigin);
    margin-block-end: var(--timer-marigin);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display:table;
    width: fit-content;
    align-items: center;
}

menu button{
    transition: background-color 0.3s ease, filter 0.3s ease;
    -webkit-transition: background-color 0.3s ease, filter 0.3s ease;
    -moz-transition: background-color 0.3s ease, filter 0.3s ease;
    -ms-transition: background-color 0.3s ease, filter 0.3s ease;
    -o-transition: background-color 0.3s ease, filter 0.3s ease;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: var(--main-font-size);
    padding: var(--timer-button-padding-height) var(--timer-button-padding-width);
    border:none;
    cursor: pointer;
}

menu button:hover{
    filter: brightness(125%);
    -webkit-filter: brightness(125%);
}

#up-next[data-selected = "true"], #completed[data-selected = "true"] {
    background-color: #f36060;
    margin-right: -1px;
}
#up-next[data-selected = "false"], #completed[data-selected = "false"]{
    background-color: #f3606060;

}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}
#pomodoro-timer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: max-content;
    margin: 0 auto auto auto;
}

#task-list ul {
    /* list-style-type: none; */
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}


#task-popup-btn {
    cursor: pointer;
    height: var(--plus-circle-size);
    width: var(--plus-circle-size);
    border-style: none;
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    background-color: #f36060;
    outline: none;
    margin: auto;
    display: block;
}

#task-popup-btn:hover {
    filter: brightness(105%);
    transform: scale(1.1);
}

#plus {
    width: var(--main-font-size);
    vertical-align: middle;
    aspect-ratio: 1 / 1;
}

img#dash {
    height: 500px;
    width: 12px;
    position: absolute;
    right: 50%;
    left: 50%;
}


/* Code BELOW is for Clock */


/* CSS for Pomo/Break button dispaly */
/* Smoothen Buttons */
button {
    transition: transform .3s ease;
}
.timer-buttons {
    width: fit-content;
    display: table;
    margin-top:var(--timer-marigin);
}

.timer-buttons button {
    border: none;
    color: white;
    padding: var(--timer-button-padding-height) var(--timer-button-padding-width);
    font-size: var(--main-font-size);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    outline: none;
    

}

#pomo-btn {
    background-color: #f36060;
}

#pomo-btn.toggle {
    background-color: #f3606060;
}

#break-btn {
    background-color: #f3606060;
}

#break-btn.toggle {
    background-color: #f36060;
}


/* This is here to create spacing between Pomo/Break and Timer Display */

div.empty-space-border {
    background: #ffd5ca;
    color: #fff;
    border-style: solid;
    border-color: #ffd5ca;
    border-width: thick;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    opacity: 0;
}


/* CSS for Clock Test and Border Surrounding it */

div.timer-value {
    font-size: var(--header-font-size);
    margin-top: var(--timer-marigin);
    color: #fff;
    border-style: solid;
    border-color: #f36060;
    border-width: thick;
    border-radius: 30px;
    text-align: center;
    padding: 50px; 
    width: 80%; 
}

#timer-display {
    background-origin: padding-box;
    -moz-background-origin: padding-box;
    -webkit-background-origin: padding-box;
    background-image: linear-gradient(#f36060, #f36060);
    background-position-x: center;
    /* Weird hack to prevent flashing at bottom for Chrome. Second term must be some non-percentage.*/
    background-position-y: calc(100% + 5vh);
    background-repeat: no-repeat;
    background-size: 100% calc(100% + 5vh);
    background-attachment: scroll;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

#timer-display[data-started] {
    transition-property: background-size;
    transition-delay: 1s;
    transition-timing-function: linear;
}

#timer-display[data-started].work {
    background-size: 100% 5vh;
}

#timer-display[data-started].break {
    background-size: 100% calc(100% + 5vh);
}
#timer-display-duration {
    margin: auto;
}

/* CSS for Start/Reset Buttons */

.timer-control-buttons {
    text-align: center;
    width: 80%;
}

.timer-control-buttons button {
    margin-top: var(--timer-marigin);
    background-color: #f36060;
    border: none;
    color: white;
    padding:var(--timer-button-padding-height) var(--timer-button-padding-width);
    font-size: var(--main-font-size);
    font-weight: 500;
    border-radius: 0.625vw;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}


/* CSS Code for diff color when hover over Start/Reset Button*/

.timer-control-buttons button:hover {
    transform: scale(1.1);
    filter: brightness(105%);
}

/* CSS Code for different icons and sizes in sprites */
::part(close-icon) {
    aspect-ratio: 1 / 1;
}

/* Dark Mode Styles */

body.dark-theme {
    background-color: #232b32;
    /* for timer graphics */
    /* background: linear-gradient(0deg, rgba(69,238,56,1) 0%, rgba(255,96,96,1) 100%); */
}

body.dark-theme h1#header-name {
    color: #f5f6f7;
}

body.dark-theme #focus-button {
    background-color: #4a5568;
    color: #f5f6f7;
}

body.dark-theme .top-buttons {
    background-color: #4a5568;
    color: #f5f6f7;
}

body.dark-theme header:after {
    border-bottom: solid 1px #9c9c9c;
}

body.dark-theme .timer-buttons button {
    color: #f5f6f7;
}

body.dark-theme #pomo-btn {
    background-color: #4a5568;
}

body.dark-theme #pomo-btn.toggle {
    background-color: #2d3848bf;
}

body.dark-theme #break-btn {
    background-color: #2d3848bf;
}

body.dark-theme #break-btn.toggle {
    background-color: #4a5568;
}

body.dark-theme div.empty-space-border {
    background: #232b32;
    border-color: #232b32;
    opacity: 0;
}

body.dark-theme div.timer-value {
    /* background: linear-gradient(0deg, rgba(69,238,56,1) 0%, rgb(51, 231, 255) 0%); */
    color: #f5f6f7;
    /* border-color: #232b32; */
    border-color: #4a5568;
    overflow: hidden;
}

body.dark-theme .timer-control-buttons button {
    background-color: #4a5568;
    color: #f5f6f7;
}

body.dark-theme #select-focus {
    color: #f5f6f7;
}
body.dark-theme #up-next[data-selected = "true"], body.dark-theme #completed[data-selected = "true"] {
    color: #f5f6f7;
    background-color: #4a5568;
}
body.dark-theme #up-next[data-selected = "false"],body.dark-theme #completed[data-selected = "false"] {
    color: #f5f6f7;
    background-color: #2d3848bf;
}

body.dark-theme #task-popup-btn {
    background-color: #4a5568;
}

body.dark-theme #help-info {
    color: #a7a7a7;
}


/* Task Items */

body.dark-theme task-item {
    color: #f5f6f7;
    background-color: #4a5568;
}

body.dark-theme [checked='true'] {
    background-color: #2d3848bf;
}


/* Task Popup */

body.dark-theme task-popup::part(close-icon) {
    opacity: 1;
    filter: contrast(0.2);
}

body.dark-theme task-popup::part(popup-wrapper) {
    background-color: #3a4556;
}

body.dark-theme task-popup::part(add-task-h3) {
    color: #f5f6f7;
}

body.dark-theme task-popup::part(task-input) {
    background-color: #3a4556;
    color: #f5f6f791;
}

body.dark-theme task-popup::part(btn-footer) {
    background-color: #2d3848;
}

body.dark-theme task-popup::part(add-btn) {
    background-color: #4a5568;
}


/* Reset Popup */

body.dark-theme reset-popup::part(close-icon) {
    opacity: 1;
    filter: contrast(0.2)
}

body.dark-theme reset-popup::part(popup-wrapper) {
    background-color: #3a4556;
}

body.dark-theme reset-popup::part(reset-confirm-h3) {
    color: #f5f6f7;
}

body.dark-theme reset-popup::part(reset-content) {
    color: #f5f6f7;
}

body.dark-theme reset-popup::part(btn-footer) {
    background-color: #2d3848;
}

body.dark-theme reset-popup::part(confirm-btn) {
    background-color: #4a5568;
}


/* Settings Popup */

body.dark-theme settings-popup::part(close-icon) {
    opacity: 1;
    filter: contrast(0.2);
}

body.dark-theme settings-popup::part(settings-confirm-popup) {
    background-color: #3a4556;
}

body.dark-theme settings-popup::part(settings-h3) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(timer-settings) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(session-labels) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(enable-dark-mode) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(enable-tab-label) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(btn-footer) {
    background-color: #2d3848;
}

body.dark-theme settings-popup::part(confirm-btn) {
    background-color: #4a5568;
}

body.dark-theme settings-popup::part(length-inputs) {
    background-color: #4a5568;
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(sound-volume) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(volume-number) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(range-slider) {
    background-color: #6a6a6a;
}


/* Help Popup */

body.dark-theme help-popup::part(close-icon) {
    opacity: 1;
    filter: contrast(0.2);
}

body.dark-theme help-popup::part(popup-wrapper) {
    background-color: #3a4556;
}

body.dark-theme help-popup::part(help-h3) {
    color: #f5f6f7;
}

body.dark-theme help-popup::part(instructions) {
    color: #f5f6f7;
}

body.dark-theme help-popup::part(features) {
    color: #f5f6f7;
}

body.dark-theme help-popup::part(accessibility) {
    color: #f5f6f7;
}

body.dark-theme help-popup::part(h4) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(enable-disable-clicksound) {
    color: #f5f6f7;
}

body.dark-theme settings-popup::part(enable-disable-alarmsound) {
    color: #f5f6f7;
}

body.dark-theme #timer-display {
    background-image: linear-gradient(#4a5568, #4a5568);
}

/* Focus Task */

#focus-task {
    text-align: center;
    width: 100%;
    list-style-type: none;
}

#select-focus {
    font-weight: 500;
    color: #f36060;
    font-size: var(--main-font-size);
}

#focus-task task-item {
    width: 80%;
    border-left: solid 5px #eaeaea;
    display: flex;
}


/*Focus mode toggles*/

#header-buttons.state button.top-buttons {
    opacity: 10%;
}

#header-buttons.state  button.top-buttons:hover {
    filter: brightness(105%);
    transform: scale(1.1);
    opacity: 1;
}

#popup-button.state {
    display: none;
}

#task-list.state {
    display: none;
}

#pomodoro-timer.state {
    width: auto;
    /* margin: auto; */
}


/* Footer CSS left side */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.125vw;
}

#help-info {
    float: left;
    margin-left: 10%;
    color: #646363;
    font-weight: 450;
    font-size: medium;
}