<style>
    :host {
        cursor: pointer;
        /* height: 50px; */
        position: relative;
        /* margin-bottom: 10px; */
        /* border-radius: 5px; */
        border-radius: 10px;
        /* margin-right: 20%; */
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        align-items: center;
        padding-left: 10px;
        /* padding-left: 37px; */
        background-color: #f36060;
        color: white;
        /* font-size: medium; */
        font-size: 1.35vw;
        font-weight: 500;
        border-style: none;
        user-select: none;
        margin: 0 auto;
        /* margin-bottom: 10px; */
        margin-bottom: 10px;
    }
    :host(:hover) {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    :host(:hover) .delete-icon, :host(:hover) .focus-icon {
        visibility: visible;
    }
    :host(:hover[checked = "true"]) .focus-icon {
        visibility: hidden;
    }
    :host([checked = 'true']) {
        background: #f3606060;
        text-decoration: line-through;
        -webkit-text-decoration: line-through;
    }
    :host([checked = 'true']) .check-icon {
        visibility: visible;
    }

    #li {
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50px 1fr 50px 50px;
    }

    #task-text {
        align-self: center;
    }
    .check-icon {
        /* left: 10px; */
        align-self: center;
        /* width: 20px; */
        /* height: 20px; */
        width: 30px;
        height: 30px;
        margin: 0;
        visibility: hidden;
    }

    .delete-icon {
        color: #fff;
        /* right: 10px; */
        align-self: center;
        /* width: 20px; */
        /* height: 20px; */
        width: 30px;
        height: 30px;
        margin: 0;
        grid-column:4;
        visibility: hidden;
        transition: transform .3s ease;
    }
    .delete-icon:hover {
        transform: scale(1.3);
        filter:brightness(105%)
    }
    .focus-icon {
        color: #fff;
        /* right: 40px; */
        align-self:center;
        /* width: 20px; */
        /* height: 20px; */
        width: 30px;
        height: 30px;
        margin: 0;
        visibility: hidden;
        transition: transform .3s ease;
    }
    .focus-icon:hover {
        transform: scale(1.3);
        filter:brightness(105%)
    }
</style>
<li id="li">
    <img src="assets/icons-cd826e74.svg#check" alt="" part="test" class="check-icon">
    <span id="task-text"></span>
    <img src="assets/icons-cd826e74.svg#focus" alt="" title="Focus on this task" class="focus-icon">
    <img src="assets/icons-cd826e74.svg#delete" alt="" title="Delete this task" class="delete-icon">
</li>