<style>
    :host {
        cursor: pointer;
        /* height: 50px; */
        padding: var(--timer-button-padding-height) var(--timer-button-padding-width);
        /* margin-bottom: 10px; */
        /* border-radius: 5px; */
        border-radius: 0.390625vw;
        /* margin-right: 20%; */
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        /* padding-left: 37px; */
        background-color: #f36060;
        color: white;
        /* font-size: medium; */
        font-size: var(--main-font-size);
        font-weight: 500;
        border-style: none;
        user-select: none;
        margin: auto auto 15px auto;
        width: 100%;
    }
    :host(:hover) {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    :host(:hover) .delete-icon, :host(:hover) .focus-icon {
        visibility: visible;
    }
    :host(:hover[checked = "true"]) .focus-icon {
        visibility: hidden;
    }
    :host([checked = 'true']) {
        background: #f3606060;
        text-decoration: line-through;
        -webkit-text-decoration: line-through;
    }
    :host([checked = 'true']) .check-icon {
        visibility: visible;
    }
    .check-icon {
        vertical-align: middle;
        /* width: 20px; */
        /* height: 20px; */
        width: var(--main-font-size);
        height: var(--main-font-size);
        visibility: hidden;
        margin: 0;
        flex-basis: 0;
    }
    .delete-icon {
        color: #fff;
        /* right: 0.78125vw; */
        vertical-align: middle;
        /* width: 20px; */
        /* height: 20px; */
        width: var(--main-font-size);
        height: var(--main-font-size);
        margin: 0;
        visibility: hidden;
        transition: transform .3s ease;
    }
    .delete-icon:hover {
        transform: scale(1.3);
        filter:brightness(105%)
    }
    .focus-icon {
        color: #fff;
        /* right: 3.125vw; */
        vertical-align: middle;
        /* width: 20px; */
        /* height: 20px; */
        width: var(--main-font-size);
        height: var(--main-font-size);
        margin: 0;
        visibility: hidden;
        transition: transform .3s ease;
    }
    .focus-icon:hover {
        transform: scale(1.3);
        filter:brightness(105%)
    }
    #li{
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    #task-text{
        word-break: break-all;
    }
</style>
<li id="li">
    <img src="icons/check.svg" alt="" part="test" class="check-icon">
    <span id="task-text"></span>
    <div><img src="icons/focus.svg" alt="" title="Focus on this task" class="focus-icon">
        <img src="icons/delete.svg" alt="" title="Delete this task" class="delete-icon"></div>
    
</li>