# Pomodoro Timer Manual Test Report

Template created by Jackie Li 03/17/2021

- Tester: HanJie Zhan
- Date: 03/18/2021
- System: Mac OS
- Browser: Google Chrome

## Help Popup

- [x] Help button works as intended
- [x] Press 'h' to open reset window
- [x] Press 'esc' to close window

**Comment:** The shortcut help button is working. There are three instruction section about how to use the app. 

## Timer Function

- [x] Timer start and stop as intend 
- [x] Timer switch mode between pomo section and break section
- [x] For every three pomo section, there is a long break section
- [x] Press 's' to start and stop the timer
- [x] Timer work as intended in focus mode

**Comment:**  When the time is over, the alarm ringing and the break time begin. Everything in the timer function is working. The only thing I do not like in this function is after I click the stop button, the time is reset. For example, if I want to go to restroom I may need stop couple minutes but not like reset all the time.

## Focus Mode

- [x] Press 'f' to switch to the focus mode
- [x] Press 'f' again to switch back
- [x] Click focus button to switch mode

**Comment:** The focus mode is work fine. I like the sound when I switch the focus mode.

## Reset

- [x] Reset button works as intended
- [x] Comfirm and clear all tasks
- [x] Press 'r' to open reset window
- [x] Press 'esc' to close window
- [x] Press 'enter' to confirm

**Comment:** The reset function is work fine. When I click the reset button, the time would be reset and the assignments in the task list would clear up. 

## Setting

- [x] setting button works as intended
- [x] set pomo section length
- [x] set short break section length
- [x] set long break section length
- [x] set dark mode
- [x] set volume
- [x] Press ';' to open reset window
- [x] Press 'esc' to close window
- [x] Press 'enter' to confirm

**Comment:** The setting function is work fine. I can set the pomo time length, short break length, long break length and the volume of alarm. And I can change the dark color model. This features are amazing.

## Task List

- [x] add task button works as intended
- [x] Press 'a' to open reset window
- [x] Press 'esc' to close window
- [x] Press 'enter' to confirm

**In normal Mode:** 

- [x] toggle the task
- [x] focus the task
- [x] unfocus the task
- [x] delete the task

**In Focus Mode:**

- [x] toggle the task
- [x] focus the task
- [x] unfocus the task
- [x] delete the task
- [x] next task queue in
- [x] All task complete
- [x] Add task disabled
  
**Comment:** The task list function is work fine. The short cut for this feature are so helpful. I can add as many as tasks I want and this is great. In the normal mode, I can focus the task, unfocus the task and delete the task. This features are useful. In Focus Mode, After the current task is finish, I can check mark that assignment and go to the next task I want to focus. If I delete the task, I would get the next task in the queue. 
